/* Style for the main container */
.VideoEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 200px;
  }
  /* Style for the file input */
  input[type="file"] {
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  /* Style for the labels and input fields */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  /* Style for the video element */
  video {
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Style for the buttons */
  button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Style for the trimmed video download button */
  button.download-btn {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  /* Style for the reset button */
  button.reset-btn {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  /* Style for the trimmed video container */
  .TrimmedVideoContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Style for the trimmed video download link */
  .download-link {
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
  }
  